body {
  background: url('assets/hatter.jpg');
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
li {
  display: inline;
  position: relative;
}
#help {
  background-color: red;
}
#pozi {
  position: absolute;
}
.profilkartya {
  width: 18.75rem;
  height: 31.25rem;
  position: relative;
  top: -5vw;
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
.head {
  width: 100%;
  margin: 0 auto;
}
.profilkep {
  right: 5rem;
  top: -13%;
  position: absolute;
}
.nev {
  position: absolute;
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  width: 50%;
  top: 5%;
  right: 20%;
}
.nevalatt {
  position: absolute;
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  top: 15%;
  right: 40%;
}
.content {
  position: absolute;
  font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  width: 88%;
  left: 7%;
  top: 25%;
}
.kapcsolat {
  position: absolute;
  width: 9.375rem;
  height: 3.125rem;
  border-radius: 30%;
  background-color: rgba(91, 189, 34, 0.63);
  bottom: -1.563rem;
  right: 4.688rem;
  box-shadow: hsla(0, 0%, 0%, .9) 10px 10px 80px;
}
.gomb {
  position: absolute;
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.563rem;
  top: 20%;
  left: 10%;

}
.ikonok {
  position: absolute;
  width: 10%;
  bottom: 10rem;
  right: 28.125rem;
  color: chartreuse;
}
img {
  width: 7.5rem;
  height: 6.25rem;
  border-radius: 50%;
  padding: 1px;
  background-color: #666;
}
@media (min-width: 768px) {
  .profilkartya {
    width: 31.25rem;
    height: 34.375rem;
  }
  .profilkep {
    right: 10.938rem;
    top: -3.75rem;
  }
  .nev {
    top: 5vw;
    right: 7vw;
  }
  .nevalatt {
    top: 5.5rem;
    right: 13rem;
  }
  .kapcsolat {
    bottom: -3vw;
    right: 23vw;
  }
}
@media (min-width: 1025px) {
  .profilkartya {
    width: 62.5rem;
    height: 35rem;
  }
  .profilkep {
    right: 24rem;
    top: -7rem;
    margin-top: 1rem;
  }
  img {
    width: 15.625rem;
    height: 15.625rem;
  }
  .nev {
    top: 8.5rem;
    right: 5rem;
  }
  .nevalatt {
    top: 12rem;
    right: 31rem;
  }
  .content {
    width: 45rem;
    left: 12rem;
    top: 15rem;
    font-size: 2rem;
  }
  .kapcsolat {
    bottom: -1.5rem;
    right: 27rem;
  }
}

